body {
	margin-top: 15%; /* I want this to be a %, but will need something for now.  */
	margin-left: 15%;
	background: #000;
	filter: invert(1);
}
* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.left {
  width: 30%;
}

.right {
  width: 70%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.filesystemUI {
	margin-bottom: 25px;
}

.content-left-item {
	margin-bottom: 25px;
}  

.file-tree ul {
	font-family: courier;
	color:black;
	margin: 0;
	padding-left: 3rem;
	list-style: none;
	line-height: 1.25;
	position: relative;
	overflow: hidden;
}

.file-tree li:not(:last-child) > ul::before {
	content: '\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020';
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 1em;
}

.file-tree > ul {
	margin: 0;
	padding: 0;
}

.file-tree li {
	background: #fff;
	position: relative;
}

.file-tree li::before {
	content: '\251C\2500\2500\0020';
}

.file-tree li:last-child::before {
 	content: '\2514\2500\2500\0020';
}

.hidden-button {
    appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}

footer {
	margin: 50px 0;
}
